.DS_Store
Thumbs.db
*.log
.deploy*/
/themes/next/.bowerrc
/themes/next/.stylintrc
/themes/next/.travis.yml
/themes/next/.editorconfig
/themes/next/.gitattributes
/themes/next/.hound.yml
/themes/next/.javascript_ignore
/themes/next/.jshintrc
